<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Phase2Project2-FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginControl</display-name>
    <servlet-name>AdminLoginControl</servlet-name>
    <servlet-class>Login.AdminLoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginControl</servlet-name>
    <url-pattern>/AdminLoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginControl</display-name>
    <servlet-name>CustomerLoginControl</servlet-name>
    <servlet-class>Login.CustomerLoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginControl</servlet-name>
    <url-pattern>/CustomerLoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAdminPassword</display-name>
    <servlet-name>NewAdminPassword</servlet-name>
    <servlet-class>Login.NewAdminPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAdminPassword</servlet-name>
    <url-pattern>/NewAdminPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCustomerPassword</display-name>
    <servlet-name>NewCustomerPassword</servlet-name>
    <servlet-class>Login.NewCustomerPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomerPassword</servlet-name>
    <url-pattern>/NewCustomerPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerFlightEntry</display-name>
    <servlet-name>CustomerFlightEntry</servlet-name>
    <servlet-class>FlightSearch.CustomerFlightEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerFlightEntry</servlet-name>
    <url-pattern>/CustomerFlightEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerFlightList</display-name>
    <servlet-name>CustomerFlightList</servlet-name>
    <servlet-class>FlightSearch.CustomerFlightList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerFlightList</servlet-name>
    <url-pattern>/CustomerFlightList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFlightList</display-name>
    <servlet-name>AdminFlightList</servlet-name>
    <servlet-class>FlightSearch.AdminFlightList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFlightList</servlet-name>
    <url-pattern>/AdminFlightList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFlightEntry</display-name>
    <servlet-name>AdminFlightEntry</servlet-name>
    <servlet-class>FlightSearch.AdminFlightEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFlightEntry</servlet-name>
    <url-pattern>/AdminFlightEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightList</display-name>
    <servlet-name>FlightList</servlet-name>
    <servlet-class>FlightSearch.FlightList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightList</servlet-name>
    <url-pattern>/FlightList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightsEntry</display-name>
    <servlet-name>FlightsEntry</servlet-name>
    <servlet-class>FlightSearch.FlightsEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightsEntry</servlet-name>
    <url-pattern>/FlightsEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightEntry</display-name>
    <servlet-name>FlightEntry</servlet-name>
    <servlet-class>FlightSearch.FlightEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightEntry</servlet-name>
    <url-pattern>/FlightEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightDAO</display-name>
    <servlet-name>FlightDAO</servlet-name>
    <servlet-class>FlightSearch.FlightDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightDAO</servlet-name>
    <url-pattern>/FlightDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDAO</display-name>
    <servlet-name>AdminDAO</servlet-name>
    <servlet-class>FlightSearch.AdminDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDAO</servlet-name>
    <url-pattern>/AdminDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDAO</display-name>
    <servlet-name>CustomerDAO</servlet-name>
    <servlet-class>FlightSearch.CustomerDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDAO</servlet-name>
    <url-pattern>/CustomerDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFullEntry</display-name>
    <servlet-name>AdminFullEntry</servlet-name>
    <servlet-class>FlightSearch.AdminFullEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFullEntry</servlet-name>
    <url-pattern>/AdminFullEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOriginDestination</display-name>
    <servlet-name>AdminOriginDestination</servlet-name>
    <servlet-class>FlightSearch.AdminOriginDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOriginDestination</servlet-name>
    <url-pattern>/AdminOriginDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAirlineNames</display-name>
    <servlet-name>AdminAirlineNames</servlet-name>
    <servlet-class>FlightSearch.AdminAirlineNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAirlineNames</servlet-name>
    <url-pattern>/AdminAirlineNames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAdminLogin</display-name>
    <servlet-name>NewAdminLogin</servlet-name>
    <servlet-class>Login.NewAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAdminLogin</servlet-name>
    <url-pattern>/NewAdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSearch</display-name>
    <servlet-name>CustomerSearch</servlet-name>
    <servlet-class>FlightSearch.CustomerSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSearch</servlet-name>
    <url-pattern>/CustomerSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerListFlights</display-name>
    <servlet-name>CustomerListFlights</servlet-name>
    <servlet-class>FlightSearch.CustomerListFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListFlights</servlet-name>
    <url-pattern>/CustomerListFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSearchFlights</display-name>
    <servlet-name>CustomerSearchFlights</servlet-name>
    <servlet-class>FlightSearch.CustomerSearchFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSearchFlights</servlet-name>
    <url-pattern>/CustomerSearchFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCustomerLoging</display-name>
    <servlet-name>NewCustomerLoging</servlet-name>
    <servlet-class>Login.NewCustomerLoging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomerLoging</servlet-name>
    <url-pattern>/NewCustomerLoging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCustomerLogin</display-name>
    <servlet-name>NewCustomerLogin</servlet-name>
    <servlet-class>Login.NewCustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomerLogin</servlet-name>
    <url-pattern>/NewCustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalBooking</display-name>
    <servlet-name>FinalBooking</servlet-name>
    <servlet-class>FlightSearch.FinalBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalBooking</servlet-name>
    <url-pattern>/FinalBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentGateway</display-name>
    <servlet-name>PaymentGateway</servlet-name>
    <servlet-class>FlightSearch.PaymentGateway</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentGateway</servlet-name>
    <url-pattern>/PaymentGateway</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalBookingDetails</display-name>
    <servlet-name>FinalBookingDetails</servlet-name>
    <servlet-class>FlightSearch.FinalBookingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalBookingDetails</servlet-name>
    <url-pattern>/FinalBookingDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalFlightDetails</display-name>
    <servlet-name>FinalFlightDetails</servlet-name>
    <servlet-class>FlightSearch.FinalFlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalFlightDetails</servlet-name>
    <url-pattern>/FinalFlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalConfirmation</display-name>
    <servlet-name>FinalConfirmation</servlet-name>
    <servlet-class>FlightSearch.FinalConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalConfirmation</servlet-name>
    <url-pattern>/FinalConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSearchResults</display-name>
    <servlet-name>CustomerSearchResults</servlet-name>
    <servlet-class>FlightSearch.CustomerSearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSearchResults</servlet-name>
    <url-pattern>/CustomerSearchResults</url-pattern>
  </servlet-mapping>
</web-app>