<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Phase2Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>Login.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectsForClasses</display-name>
    <servlet-name>SubjectsForClasses</servlet-name>
    <servlet-class>AdminTasks.SubjectsForClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectsForClasses</servlet-name>
    <url-pattern>/SubjectsForClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfTeachers</display-name>
    <servlet-name>ListOfTeachers</servlet-name>
    <servlet-class>AdminTasks.ListOfTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfTeachers</servlet-name>
    <url-pattern>/ListOfTeachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfStudents</display-name>
    <servlet-name>ListOfStudents</servlet-name>
    <servlet-class>AdminTasks.ListOfStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfStudents</servlet-name>
    <url-pattern>/ListOfStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfClasses</display-name>
    <servlet-name>ListOfClasses</servlet-name>
    <servlet-class>AdminTasks.ListOfClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfClasses</servlet-name>
    <url-pattern>/ListOfClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherEntry</display-name>
    <servlet-name>TeacherEntry</servlet-name>
    <servlet-class>AdminTasks.TeacherEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherEntry</servlet-name>
    <url-pattern>/TeacherEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherList</display-name>
    <servlet-name>TeacherList</servlet-name>
    <servlet-class>AdminTasks.TeacherList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherList</servlet-name>
    <url-pattern>/TeacherList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassEntry</display-name>
    <servlet-name>ClassEntry</servlet-name>
    <servlet-class>AdminTasks.ClassEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassEntry</servlet-name>
    <url-pattern>/ClassEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassList</display-name>
    <servlet-name>ClassList</servlet-name>
    <servlet-class>AdminTasks.ClassList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassList</servlet-name>
    <url-pattern>/ClassList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectsForClassesEntry</display-name>
    <servlet-name>SubjectsForClassesEntry</servlet-name>
    <servlet-class>AdminTasks.SubjectsForClassesEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectsForClassesEntry</servlet-name>
    <url-pattern>/SubjectsForClassesEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectsForClassesList</display-name>
    <servlet-name>SubjectsForClassesList</servlet-name>
    <servlet-class>AdminTasks.SubjectsForClassesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectsForClassesList</servlet-name>
    <url-pattern>/SubjectsForClassesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassSubjects</display-name>
    <servlet-name>ClassSubjects</servlet-name>
    <servlet-class>AdminTasks.ClassSubjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassSubjects</servlet-name>
    <url-pattern>/ClassSubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassSubjectsEntry</display-name>
    <servlet-name>ClassSubjectsEntry</servlet-name>
    <servlet-class>AdminTasks.ClassSubjectsEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassSubjectsEntry</servlet-name>
    <url-pattern>/ClassSubjectsEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTasks</display-name>
    <servlet-name>AdminTasks</servlet-name>
    <servlet-class>ClassSubjectsList.AdminTasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTasks</servlet-name>
    <url-pattern>/AdminTasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassSubjectsList</display-name>
    <servlet-name>ClassSubjectsList</servlet-name>
    <servlet-class>AdminTasks.ClassSubjectsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassSubjectsList</servlet-name>
    <url-pattern>/ClassSubjectsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEntry</display-name>
    <servlet-name>StudentEntry</servlet-name>
    <servlet-class>AdminTasks.StudentEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEntry</servlet-name>
    <url-pattern>/StudentEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentList</display-name>
    <servlet-name>StudentList</servlet-name>
    <servlet-class>AdminTasks.StudentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/StudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeachersClassesSubjectsEntry</display-name>
    <servlet-name>TeachersClassesSubjectsEntry</servlet-name>
    <servlet-class>AdminTasks.TeachersClassesSubjectsEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachersClassesSubjectsEntry</servlet-name>
    <url-pattern>/TeachersClassesSubjectsEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeachersClassesSubjectsList</display-name>
    <servlet-name>TeachersClassesSubjectsList</servlet-name>
    <servlet-class>AdminTasks.TeachersClassesSubjectsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachersClassesSubjectsList</servlet-name>
    <url-pattern>/TeachersClassesSubjectsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReportEntry</display-name>
    <servlet-name>ClassReportEntry</servlet-name>
    <servlet-class>AdminTasks.ClassReportEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReportEntry</servlet-name>
    <url-pattern>/ClassReportEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReportList</display-name>
    <servlet-name>ClassReportList</servlet-name>
    <servlet-class>AdminTasks.ClassReportList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReportList</servlet-name>
    <url-pattern>/ClassReportList</url-pattern>
  </servlet-mapping>
</web-app>